<div class="register">
  <h1>Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="firstName">
      First Name
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        placeholder="John"
        border
        [borderColor]="
          firstNameRequired || firstNameMinlength ? '#f44336' : '#d7d7d7'
        "
      />
      <span *ngIf="firstNameRequired">First Name is required</span>
      <span *ngIf="firstNameMinlength">Min 3 characters</span>
    </label>
    <label for="lastName">
      Last Name
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        placeholder="Doe"
        border
        [borderColor]="
          lastNameRequired || lastNameMinlength ? '#f44336' : '#d7d7d7'
        "
      />
      <span *ngIf="lastNameRequired">Last Name is required</span>
      <span *ngIf="lastNameMinlength">Min 3 characters</span>
    </label>
    <label for="username">
      Username
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="John Doe"
        border
        [borderColor]="
          usernameRequired || usernameMinlength ? '#f44336' : '#d7d7d7'
        "
      />
      <span *ngIf="usernameRequired">Username is required</span>
      <span *ngIf="usernameMinlength">Min 3 characters</span>
    </label>
    <label>
      Password
      <input
        type="password"
        formControlName="password"
        placeholder="............."
        border
        [borderColor]="
          passwordRequired || passwordMinlength ? '#f44336' : '#d7d7d7'
        "
      />
      <span *ngIf="passwordRequired">Password is required</span>
      <span *ngIf="passwordMinlength">Min 6 characters</span>
    </label>
    <button
      [type]="signUpPending ? 'button' : 'submit'"
      [style.opacity]="signUpPending ? '0.5' : 1"
    >
      {{ signUpPending ? 'Signing up.....' : 'Signup' }}
    </button>
  </form>
  <a routerLink="/auth/login">Login</a>
</div>
