<navbar (logout)="logout()"></navbar>

<div class="wrapper">
  <div class="container">
    <div class="header">Change Password</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>
        Old Password
        <input
          type="password"
          formControlName="oldPassword"
          placeholder="............."
        />
        <span *ngIf="oldPasswordRequired">Old Password is required</span>
        <span *ngIf="oldPasswordMinlength">Min 6 characters</span>
      </label>
      <label>
        New Password
        <input
          type="password"
          formControlName="newPassword"
          placeholder="............."
        />
        <span *ngIf="newPasswordRequired">New Password is required</span>
        <span *ngIf="newPasswordMinlength">Min 6 characters</span>
      </label>
      <button
        [type]="(changePasswordPending$ | async) ? 'button' : 'submit'"
        [style.opacity]="(changePasswordPending$ | async) ? '0.5' : 1"
      >
        {{
          (changePasswordPending$ | async) ? 'loading .....' : 'Change Password'
        }}
      </button>
    </form>
  </div>
</div>
